@import "reset__style.scss";
@import "media.scss";

@mixin heading($Fs: 1.8rem, $Mb: 1rem,$Fw: 700) {
    font-size: $Fs;
    font-weight: $Fw;
    margin-bottom: $Mb;
};

$Bg__color: rgb(32, 32, 32);

/*--------------- Body ---------------*/
body {
    font-size: 1.3rem;
    font-family: arial;
    line-height: 1.3;

    background-color: rgb(211, 211, 211);
}

/*--------------- Centering Block ---------------*/
.container {
    width: 90%;

    margin: 0 auto;
    padding: 0 2rem;
}

/*--------------- Header ---------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    width: 100%;

    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: $Bg__color;
    }
}

.header__inner {
    position: relative;

    display: flex;
    align-items: center;

    height: 6rem;
}

/*--------------- Navigation ---------------*/
nav {
    font-size: 0;

    width: 100%;

    a {
        font-size: 2rem;

        padding: 1.9rem;

        color: white;

        transition: background-color 0.3s linear;

        &:hover, &.active {
            background-color: rgb(103, 102, 102);
        }
    }
}

/*--------------- Main Flex ---------------*/
.main__flex {
    display: flex;
    justify-content: space-evenly;
}

/*--------------- Main ---------------*/
.main {
    background-color: white;

    img {
            width: 100%;
            height: 100%;

            margin-bottom: 1rem;
        }

    h1 {
        @include heading(2.2rem);
    }

    h2 {
        @include heading;
    }

    p {
        text-align: justify;

        margin-bottom: 1rem;
    }
}

.main__body {
    width: 47%;

    margin-top: 8rem;

    order: 2;
}

/*--------------- Left Sidebar ---------------*/
.left {
    width: 23%;

    margin-top: 8.5rem;

    order: 1;
}

/*--------------- Right Sidebar---------------*/
.right {
    width: 22%;

    margin-top: 8.5rem;

    order: 3;
}

/*--------------- Footer ---------------*/
.footer {
    width: 100%;
    height: 32rem;

    color: white;
    background-color: $Bg__color;

    .footer__inner {
        display: flex;
        justify-content: space-between;
    }

    /*--------------- Footer Content ---------------*/
    .footer__content {
        width: 25rem;
        height: 20rem;

        margin: 4rem 0 4rem;

        color: black;
        background-color: rgb(231, 231, 231);

        h2 {
                @include heading(2rem);

                padding-top: 1.5rem;
        
                text-align: center;
            }
        
        p {
            font-size: 1.2rem;

            margin-bottom: 10px;
    
            text-align: center;
        }
    }

    p {
        font-size: 1.4rem;

        text-align: center;
    }

    hr {
        border-width: 1px;
        border-style: inset;

        margin-bottom: 1rem;
    }
}