/*Reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*----------------------------------------------------------*/
@media (max-width: 700px) {
  nav {
    display: none;
  }
}
@media (max-width: 768px) {
  .main {
    font-size: 1.5rem;
  }

  .main__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__flex .main__body,
.main__flex .left,
.main__flex .right {
    width: 94%;
  }
  .main__flex .main__body {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main__flex .left {
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main__flex .right {
    margin: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
/*--------------- Body ---------------*/
body {
  font-size: 1.3rem;
  font-family: arial;
  line-height: 1.3;
  background-color: lightgray;
}

/*--------------- Centering Block ---------------*/
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 2rem;
}

/*--------------- Header ---------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
}

.header__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
}

/*--------------- Navigation ---------------*/
nav {
  font-size: 0;
  width: 100%;
}
nav a {
  font-size: 2rem;
  padding: 1.9rem;
  color: white;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
nav a:hover, nav a.active {
  background-color: #676666;
}

/*--------------- Main Flex ---------------*/
.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/*--------------- Main ---------------*/
.main {
  background-color: white;
}
.main img {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
.main h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.main h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.main p {
  text-align: justify;
  margin-bottom: 1rem;
}

.main__body {
  width: 47%;
  margin-top: 8rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

/*--------------- Left Sidebar ---------------*/
.left {
  width: 23%;
  margin-top: 8.5rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/*--------------- Right Sidebar---------------*/
.right {
  width: 22%;
  margin-top: 8.5rem;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

/*--------------- Footer ---------------*/
.footer {
  width: 100%;
  height: 32rem;
  color: white;
  background-color: #202020;
  /*--------------- Footer Content ---------------*/
}
.footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__content {
  width: 25rem;
  height: 20rem;
  margin: 4rem 0 4rem;
  color: black;
  background-color: #e7e7e7;
}
.footer .footer__content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  text-align: center;
}
.footer .footer__content p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}
.footer p {
  font-size: 1.4rem;
  text-align: center;
}
.footer hr {
  border-width: 1px;
  border-style: inset;
  margin-bottom: 1rem;
}